h1 {
  color: midnightblue;
  height: 100px;
  background-color: cyan;
  border-width: 0px 0px thin 0px;
  border-style: solid;
}

.btn {
  padding: 10px;
  color: white;
}
.btn-1 {
  background-color: purple;
  padding: 32px 16px;
  border-radius: 50%;
}

.headbtn {
  padding: 10px;
  color: white;
}
.headbtn-1 {
  background-color: darkblue;
  padding: 32px 16px;
}
.headbtn-2 {
  background-color: lightcyan;
  padding: 32px 16px;
}
.headbtn-3 {
  background-color: blue;
  padding: 32px 16px;
}

body {
  background-color: lightblue;
}
