<html>
    <head>
        {# 
        
            This is a comment - it won't show up in the HTML.

            Templates allow us to dynamically generate HTML - this file will be 
            interpreted and the output will be sent to the browser.  View the page 
            source in your browser to see what actually comes through.
            
            The line below inserts the "page_title" variable into the HTML output.
        
            
        #}
        <link rel="stylesheet" href="/s/style.css">
        <title>{{page_title}}</title>
    </head>
    <body>
        <header>{#
            
            We can use if statements inside of templates, too:
            
            #}
            <div><h1>Fractinalator {% if page_title %}: {{page_title}}{% endif %} </div>
            
            <a href="generation.html" class="headbtn btn-1">Generate</a>
            <a href="gallery.html" class="headbtn btn-1">Gallery</a>
            <a href="#fractemplates" class="headbtn btn-1">Templates</a>
            <a href="signup.html" class="headbtn btn-2">Sign Up</a>
            <a href="login.html" class="headbtn btn-3">Log In</a>
            
          
            
            
            
        </header>
    
        <section>{#
            
            <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
            <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
            <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
            A "block" can be replaced when we render this template.
            
            #}
            <br><br><br><br><br><br><br><br><br><br><br>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
