<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "/static/style.css">
        <script src="/static/functions.js"></script>
        <title>Fractalinator</title>
    </head>
    <body>
        <header>
            <h1>Fractalinator</h1>
        </header>
        <nav>
            <a href="/p/login.html">Login</a>
            <a href="/p/gallery.html">Gallery</a>
            <a href="/p/generation.html">Generate</a>
        </nav>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
    
</html>
