<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/s/style.css" />
    <title>Fractalinator</title>
    <link rel="shortcut icon" href="#" />
    <script src="/s/functions.js"></script>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/s/logo-white-1.png"
        alt="logo"
        width="20"
        height="10"
      />
      <nav>
        <ul class="nav__links">
          <li><a href="/p/index.html">Home</a></li>
          <li><a href="/p/gallery.html">Gallery</a></li>
          <li><a href="/p/generation.html">Generate</a></li>
        </ul>
      </nav>
      <a class="cta" href="/p/login.html"><button>Login</button></a>
    </header>
    <section>{% block content %}{% endblock %}</section>
  </body>
</html>
