{% extends '_base.html' %}
{% block content %}

<!--
	Sources:
	https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp
	https://stackoverflow.com/questions/44259830/aligning-4-divs-to-the-center-of-a-page
-->


<div id="subtitle">
	<h2>Fractal Gallery</h2>
</div>

<div id="row">
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
</div>

<div id="row">
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
	<div id="col">
		<img src="../static/gae-logo.png" alt="placeholder" width="300" height="300">
		<div id="subtitle">
			This is where fractal information and buttons go
		</div>
	</div>
</div>

{% endblock %}
