{% extends '_base.html' %}
{% block content %}
<div id="container">
    <button id="gen_button" onclick="draw(400, 600, 120, 0, 10)">generate</button>

    <label for="Length">length:</label>
    <input type="text" id="Length" name="Length" size="25">
    
    <label for="Angle">angle:</label>
    <input type="text" id="Angle" name="Angle" size="25">

    <label for="BranchWidth">branch width:</label>
    <input type="text" id="BranchWidth" name="BranchWidth" size="25">
    <canvas id="my_canvas" width="800" height="800"></canvas>
  </div>
{% endblock %}
