{% extends '_base.html' %}
{% block content %}
<section>
<h2><center>Fractalinator</center></h2>
<center><p>Welcome to your Fractalinator. Based on your input of numbers<br>
 your Fractalinator will generate a fractal model visual that you <br>
 can store in your own fractal library and/or even export if you'd like <br>
If you're ready to generate your own fractal, hit generate below <br>
Feel free to also scroll down and look at some <a href="/p/gallery.html">fractal templates</a><br>
 If you're interested or want a starting point for your own!<br>
 If you're ready to generate your fractal from scratch, click generate below! </p><br><br><br>
 </center></section> <!-- Going to Center with CSS later -->

 <center> <a href="/generation.html" class="btn btn-1">Generate</a><br></center> 
 changes


</section>

 <section id="fractemplates">
    <center>
    <br><br><br><br>
    <h2>Templates</h2>
    <center><strong>Click any template below to explore it on the generation page</strong></center><br>
    <a href="generation.html"> <img src="../static/gae-logo.png" alt="temp1" width="200" height="200"> 
    <a href="generation.html"> <img src="../static/gae-logo.png" alt="temp1" width="200" height="200">
    <a href="generation.html"> <img src="../static/gae-logo.png" alt="temp1" width="200" height="200"> <br>
    <a href="generation.html"> <img src="../static/gae-logo.png" alt="temp1" width="200" height="200">
    <a href="generation.html"> <img src="../static/gae-logo.png" alt="temp1" width="200" height="200">
    <a href="generation.html"> <img src="../static/gae-logo.png" alt="temp1" width="200" height="200">
     </center>
 </section> 



{% endblock %}