{% extends '_base.html' %}
{% block content %}

<section>
    <h2 class="head" style="margin: 0px;">
        <center><b>Fractalinator</b></center>
    </h2>
    <section class="intext">
        <center>
            <p>Welcome to your Fractalinator. Based on your input of numbers<br>
                your Fractalinator will generate a fractal model visual that you <br>
                can store in your own fractal library and/or even export if you'd like <br>
                If you're ready to generate your own fractal, hit generate below <br>
                Feel free to look at some fractal templates in the <a onclick="userGallery()" class="reg"
                    style="color:red">gallery</a><br>
                If you're interested or want a starting point for your own!<br>
                If you're ready to generate your fractal from scratch, click generate below! </p>
    </section>
    </center>
    <br>
    <center> <a onclick="userGenerate()" class="btn">
            <font size="+2">Generate</font>
        </a></center>



</section>

{% endblock %}