{% extends '_base.html' %}
{% block content %}
<!-- Sources: https://www.w3schools.com/howto/howto_js_tabs.asp
https://stackoverflow.com/questions/21727317/how-to-check-confirm-password-field-in-form-without-reloading-page
-->

<h2>
    Welcome to Fractalinator!
</h2>

<span id='state'></span>

<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'Sign in')">Sign in</button>
    <button class="tablinks" onclick="openTab(event, 'Sign up')">Sign up</button>
</div>

<div id="Sign in" class="tabcontent" style="display: block;">    
    <form method="post" action="/signedIn">
        <table>
            <tr>
                <td>
                    <label for="usernameSignIn">Username:</label>
                </td>
                <td>
                    <input type="text" id="usernameSignIn" name="usernameSignIn"><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="passwordSignIn">Password:</label>
                </td>
                <td>
                    <input type="password" id="passwordSignIn" name="passwordSignIn"><br>
                </td>   
            </tr>
        </table>               
        <input type="submit" value="Sign in">
    </form>
</div>
  
<div id="Sign up" class="tabcontent">
    <form method="post" action="/signedUp">
        <table>
            <tr>
                <td>
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text" id="username" name="username"><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" id="password" name="password" onkeyup='check();'><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="confirmPassword">Confirm Password:</label>
                </td>
                <td>
                    <input type="password" id="confirmPassword" name="confirmPassword" onkeyup='check();'>
                </td>
                <td>
                    <span id='message'></span><br>                    
                </td>
            </tr>
        </table>        
        <input type="submit" value="Sign up" id="signin" disabled=true>
    </form>
</div>
<script>
    window.onload = state();
</script>
{% endblock %}
